.main{
  flex: 1;
  min-height: 100vh;
  padding-bottom: 25vh;
  position: relative;
  background-color: #000;
  color: white;
}

.main .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: white;
}

.main .nav img{
  width: 50px;
  border-radius: 50px;
}

.main-container{
  max-width: 900px;
  margin: auto;
}

.main-container .greet{
  margin: 50px 0px;
  font-size: 56px;
  font-weight: 600;
  background: -webkit-linear-gradient(16deg,#ff914d,#ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
  gap: 15px;
}

.main .card{
  height: 200px;
  padding: 15px;
  background-color: #121212;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
}

.main .card:hover{
  background-color: #1e1e1e;
}

.main .card img{
  width: 35px;
  padding: 5px;
  position: absolute;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
  background: white;
}

.main .card p{
  color: #d1d1d1;
  font-size: 17px;
}

.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #1e1e1e;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
}

.search-box img{
  width: 24px;
  cursor: pointer;
}

.search-box input{
  flex: 1;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 8px;
  font-size: 18px;
  color: white;
}

.search-box div{
  display: flex;
  align-items: center;
  gap: 15px;
}

.main .bottom-info{
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
  color: #d1d1d1;
}

.result{
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar{
  display: none;
}

.result-title{
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.result img{
  width: 40px;
  border-radius: 50px;
}

.result-data{
  display: flex;
  align-items: start;
  gap: 20px;
}

.loader{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr{
  border-radius: 4px;
  border: none;
  background: linear-gradient(to right,#ff914d,#ff5546);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 4s infinite linear;
}

@keyframes loader{
  0%{
      background-position: -800px 0px;
  }
  100%{
      background-position: 800px 0px;
  }
}

.result-data p{
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
  color: white;
}